[project]
	description = Web interface for application deployments and cloud management in Amazon Web Services (AWS). Binary download: http://netflix.box.com/asgard Snapshot builds: https://netflixoss.ci.cloudbees.com/job/asgard-master/ Twitter: http://twitter.com/AsgardOSS
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Chris Long (alcamie101)
[access "refs/for/refs/*"]
	read = group user/Chris Long (alcamie101)
	push = group user/Chris Long (alcamie101)
	label-Code-Review = -2..+2 group user/Chris Long (alcamie101)
	label-Verified = -1..+1 group user/Chris Long (alcamie101)
	rebase = group user/Chris Long (alcamie101)
	removeReviewer = group user/Chris Long (alcamie101)
	submit = group user/Chris Long (alcamie101)
[access "refs/heads/*"]
	read = group user/Chris Long (alcamie101)
	create = group user/Chris Long (alcamie101)
	push = +force group user/Chris Long (alcamie101)
	pushMerge = group user/Chris Long (alcamie101)
[access "refs/tags/*"]
	push = +force group user/Chris Long (alcamie101)
	pushTag = group user/Chris Long (alcamie101)
	pushSignedTag = group user/Chris Long (alcamie101)
